.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container, .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 25px;
  margin: 25px;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 18px;
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.form-group--row {
  flex-direction: row;
  align-items: center;
}
.form-group--checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.checkbox-label {
  padding-right: 8px;
}

.form-field {
  width: 100%;
  /* padding: 8px 0; */
  flex-grow: 1;
}
.form-field textarea {
  height: 88px;
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.form-field input, textarea {
  display:block;
  width: 100%;
  font-size: 14px;
  border-left: 0 none;
  border-radius: 0;
  border-right: 0 none;
  border-top: 0 none;
  box-shadow: none;
  color: #565656;
  height: 38px;;
  max-width: 100%;
  background-color: rgba(0,0,0,0);
  background-position: center bottom,center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 2px,100% 1px;
  padding: 0;
  transition: background 0s ease-out 0s;
}
.form-field input:focus,
.form-field textarea:focus {
  background-size: 100% 2px,100% 1px;
  background-image: linear-gradient(#707cd2,#707cd2),linear-gradient(rgba(120,130,140,.13),rgba(120,130,140,.13));
  transition-duration: .3s;
  border: 0;
  outline: 0;
}
.form__btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}
.form__btn--big {
  width: 100%
}
.form__btn--delete {
  background-color: red;
  font-size: 16px;
  padding: 10px 16px;
}
.form-add {
  width: 10%;
}

.form-btn:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.form__gallery {
  display: flex;
  min-width: 100%;
  /* justify-content: space-between; */
  align-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.form__gallery__header {
  padding: 8px 0;
  border-bottom: 1px solid black;
  margin: 8px 0;
}
.form__gallery__img {
  margin: 0 8px;
  text-align: center;
  width: 23%;
  height: auto;
}
.form__gallery__img img {
  width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}