.admin-page__container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}
.admin-page__menu {
    width: 20%;
    min-height: 100vh;
    background-color: #fff;
}
.menu-head {
    text-align: center;
    padding: 20px;
}
.menu {
    list-style: none;
}
.menu__item:hover {
    background-color: rgba(0, 0, 0, 0.07)
}
.menu__icon {
    padding: 0 8px;;
}
.menu__link {
    padding: 10px 15px;
    text-decoration: none;
    color: #7C8998;
    display: block;
}

.admin-page__page {
    width: 65%;

}