.app-wrapper {
  /* background-color: #3B3A38; */
  min-height: 100vh;
  padding: 50px 100px;
}
.header {
  background-color: #333;
  padding: 0 80px;
}
.header__projects {
  min-height: 100vh;
  padding: 0 80px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  color:red
}

.site-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
}
.site-nav__item {
  padding: 0 30px;
}
.site-nav__link {
  text-decoration: none;
  /* color: #fff; */
  color:orange;
}
.site-nav__img {
  width: 314px;
}
.section-wrapper {
  padding: 50px 0;
}

.homePage { 
  background-color: #333;
  min-height: 100vh;
}