.app-wrapper {
  position: relative;
  height: 100vh;
}

.header {
  width: 100%;
  background-color: #3B3A38;
  height: 15%;
}
.header__projects {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: 2s;
  &.active {
    // transform-origin: 50% 0% 0px;
    transform: matrix(1.2, 0, 0,1.2,0,0);
  }
}
.header--white {
  width: 100%;
  background-color: #fff;
}
.menu-open {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  // position: fixed;
  padding: 10px 5px;
  align-items: center;
  color:orange;
}
.nav-toggle {
  display: flex;
  align-items: center;
  color: #000;
  top: 10px;
  right: 20px;
  font-size: 30px;
  z-index: 2;
}

.main-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  background: #333 url(../img/logo-uproszczone1.png) no-repeat 50% 80%;
  text-decoration: none;
  transform: translateY(-200%);
  padding-left: 40px;
  transition: 1s ease-in-out;
  z-index: 1;
    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(0);
      max-width: 100vw;
      max-height: 100vh;
    }
}
.nav__item  {
  transform: translateY(-200%);
  padding: 8px 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &.active {
    transform: translateY(0);
    display: block;
    opacity: 1;
  }
}
.nav__social {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 40px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &.active {
    opacity: 1;
  }
}
.nav-icon {
  display: none;
    &.show {
      display: block;
    }
}
.nav__social__links {
  padding: 0 8px;
  text-decoration: none;
  color: gray;
}
.nav__links {
  font-size: 52px;
  text-decoration: none;
  color: #E49130;
}
.nav__link {
  display: inline-block;
  min-width: 214px;
  text-decoration: none;
  padding-right: 20px;
  color:#E49130;
}
.nav__link img {
  width: 100%;
  height: auto;
}
.section-wrapper {
  padding: 50px 0;
}

.homePage { 
  background-color: #3B3A38;
  height: 85%;
}
.about {
  height: 300vh;
  padding: 100px 40px 40px 40px;
  &__text {
    line-height: 1.4;
    font-size: 24px;
  }
}