.carousel {
	padding-top: 40px;
	position: relative;
	height: 90%;
	margin: 0;
  width: 100%;
    // z-index: 1;
}
.image-slide {
	position: absolute;
	height: 80%;
	width: 100%;
	overflow: hidden;
	transition: 1s;
}
.homePage { 
	padding: 0 80px;
	background-color: #1E1E1E;
	height: 100%;
  }

.counter {
	display: none;
}
.image-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,  -50%);
	font-family: 'Spectral', serif;
	color: #fff;
	font-size: 42px;
	font-weight: 600;
	text-align: center;
}

.image-dot__container {
	position: absolute;
	display: flex;
	bottom: 20px;
	right: 20px;
}
.image-dot {
	display: block;
	font-size: 14px;
	color: #fff;
	padding: 0 12px;
	&.active {
		color: #E49130;
	}
}
.slide-arrow {
	display: none;

}

@media (min-width: 768px){ 
	.carousel {
		display: flex;
		position: relative;
		flex-direction: row;
		// align-items: center;
		width: 100%;
		min-height: 80vh;
		max-height: 100%
	}
	.carouserl__slides {
		width: 100%;
	}
	.carouserl__slides a {
		text-decoration: none;
	}
	.image-slide {
		position: relative;
		height: 80%;
		width: 100%;
		overflow: hidden;
		transition: 1s;
	}
	.image-dot__container {
		display: flex;
		bottom: 80px;
		right: 20px;
	}
	.counter {
		display: flex;
		flex-direction: column;
		width: 12%;
		justify-content: center;
		color: #fff;
		font-size: 80px;
		font-family: 'Spectral', serif;
		font-weight: 600;
		display: flex;
		&__total {
			opacity: .5;
		}
		&__current {
			display: flex;
		}
	}
	.image-title {
		position: relative;
		left: 0;
		width: 400px;
		transform: translateY(-50%);
		font-family: 'Spectral', serif;
		color: #fff;
		font-size: 42px;
		font-weight: 600;
		text-align: center;
	}
	.controls {
		display: flex;
		flex-direction: row;
		order: 3;
		padding-left: 20px;
		margin-top: 80px;
	}
	.slide-arrow {
		display: block;
		color: #f3f3f3;
		padding: 0 10px;
		cursor: pointer;
		font-size: 35px;
	}
	
	.slide-arrow.right {
		right: 1rem;
	}
	
	.slide-arrow.left {
		left: 1rem;
	}

	#number {
		display: inline-block;
		opacity: 1;
		&.active {
			animation: slide 1s;
		}
	}
	@keyframes slide {
		0% {
			transform: scale(1)
		}
		50% {
			transform: scale(2)
		}
		100% {
			transform: scale(1)
		}
	}

}