.project__title {
    font-size: 60px;
    font-weight: 400;
    padding: 40px 0;
    /* text-align: center; */
}
.project__gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}
.project__gallery__item {
    padding: 20px 0;
    width: 48%;
}
.project__gallery img {
    width: 100%;
    height: auto;
}
