.project__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    padding: 0 40px;
}

.projects__title {
    line-height: 1.4;
    font-size: 20px;
}

.project__item {
    width: 100%;
    margin-bottom: 50px;
}
.project__item img {
    width: 100%;
}
.project__item a {
    text-decoration: none;
    color: #000
}

@media (min-width: 768px){
    .project__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 50px;
        padding: 0 40px;
        font-family: 'Spectral', serif;
        font-weight: 600;
    }
    .project__item {
        width: 45%;
        margin-bottom: 50px;
    }
}